In [9]:
import pandas as pd

In [10]:
prefix ="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/"
url = f"{prefix}yellow_tripdata_2021-07.csv.gz"

In [18]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [51]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
2800000,<NA>,2021-07-27 23:16:18,2021-07-27 23:25:15,<NA>,2.15,<NA>,<NA>,50,164,<NA>,13.20,0.0,0.5,3.00,0.0,0.3,19.50,2.5
2800001,<NA>,2021-07-27 23:25:08,2021-07-27 23:37:03,<NA>,1.90,<NA>,<NA>,163,140,<NA>,10.00,0.5,0.5,2.07,0.0,0.3,15.87,2.5
2800002,<NA>,2021-07-27 23:45:56,2021-07-28 00:04:48,<NA>,4.91,<NA>,<NA>,114,225,<NA>,19.99,0.0,0.5,4.51,0.0,0.3,27.80,2.5
2800003,<NA>,2021-07-27 23:23:33,2021-07-27 23:34:39,<NA>,3.15,<NA>,<NA>,246,239,<NA>,14.72,0.0,0.5,2.00,0.0,0.3,20.02,2.5
2800004,<NA>,2021-07-27 23:40:00,2021-07-28 00:05:00,<NA>,5.77,<NA>,<NA>,50,116,<NA>,24.19,0.0,0.5,4.09,0.0,0.3,31.58,2.5

In [31]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [44]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [45]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=20000,
)

In [46]:
from tqdm.auto import tqdm

In [47]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]